<main class="d-flex h-100">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light"
    style="width: 280px"
  >
    <span class="fs-4">Avatar Examples</span>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          [routerLink]="['/basic']"
          [ngClass]="router.isActive('/basic', true) ? 'active' : 'link-dark'"
          class="nav-link"
        >
          1. Simple Avatar
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/simple-component']"
          [ngClass]="
            router.isActive('/simple-component', true) ? 'active' : 'link-dark'
          "
          class="nav-link"
        >
          2. Avatar as a Fixed Component
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/generic-component']"
          [ngClass]="
            router.isActive('/generic-component', true) ? 'active' : 'link-dark'
          "
          class="nav-link"
        >
          3. Avatar as a Library Component
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex flex-column flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</main>
